.button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: fixed;
    /* Changed to fixed */
    bottom: 20px;
    /* Added bottom property */
    right: 20px;
    /* Added right property */
    z-index: 9999;
    /* Added zIndex property */
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}


.button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/* Modal container */
.modal {
    display: none;
    /* Hide modal by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    z-index: 9999;
    /* Ensure modal appears on top of other elements */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    /* White background */
    margin: 20% auto;
    /* Center modal vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    /* Limit maximum width */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add shadow */
}

/* Close button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 0;
    margin-bottom: 20px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

/* Add some styling for the table */
.seat-info-table {
    width: 100%;
    /* Set table width to 100% */
    border-collapse: collapse;
    /* Collapse borders between cells */
}

/* Style for table cells */
.seat-info-table td {
    padding: 8px;
    /* Add padding to cells */
    border: 1px solid #ddd;
    /* Add border to cells */
}